<div ng-controller="lekController">
	<span>
		<form name="addLekForm" action="/">
			<table border="1" cellpadding="5" style="float: left">
				<div>
					<tr><td align="center">Id: </td><td align="center"><input type="text" id="id" ng-model="lek.idLek" required></td></tr>
					<tr><td align="center">Naziv: </td><td align="center"><input type="text" id="naziv" ng-model="lek.naziv" required></td></tr>
					<tr>
						<td align="center">Sastojci:</td>
						<td align="center">
							<select style="float: left; clear: both;" ng-repeat="field in sastojciFields.fields track by $index" ng-model='sastojciFields.fields[$index]'>
								<option ng-repeat="sastojak in placeholderLek.sastojci" value="{{sastojak}}">{{sastojak}}</option>
							</select></br>
							<!--<input ng-repeat="field in simptomiFields.fields track by $index" type='text' ng-model='simptomiFields.fields[$index]'></td>-->
						<td><button type='button' ng-click="addSastojciField()">Novi</button></td>
					</tr>
					<tr><td align="center">Grupa: </td><td align="center">
						<select id="grupaLekova" ng-model="lek.grupaLekova">
							<option value="ANTIBIOTICI">Antibiotici</option>
							<option value="ANALGETICI">Analgetici</option>
							<option value="OSTALO">Ostalo</option>
						</select>
					</td></tr>
					<tr><td align="center"></td>
						<td align="center"><button ng-disabled="addLekForm.$invalid" type="button" class='btn btn-default' ng-click="submit()">Dodaj</button></td></tr>
				</div>
			</table>
		</form>
	</span>
</div>