<div ng-controller="pacijentController">
	<span>
		<form name="addPregledForm" action="/">
			<table border="1" cellpadding="5" style="float: left">
				<div>
					<tr><td align="center">Pacijent: </td><td align="center">{{detailViewPacijent.ime}} {{detailViewPacijent.prezime}} ({{detailViewPacijent.idPacijent}})</td></tr>
					<tr><td align="center">Id: </td><td align="center"><input type="text" id="id" ng-model="pregled.idPregleda" required></td></tr>
					<tr><td align="center">Lekar: </td><td align="center">{{loggedInKorisnik.ime}} {{loggedInKorisnik.prezime}} ({{loggedInKorisnik.korisnickoIme}})</td></tr>
					<tr>
						<td align="center">Simptomi:</td>
						<td align="center">
							<select style="float: left; clear: both;" ng-repeat="field in simptomiPregledaFields.fields track by $index" ng-model='simptomiPregledaFields.fields[$index]'>
								<option ng-repeat="simptom in placeholderBolest.opstiSimptomi" value="{{simptom}}">{{simptom}}</option>
							</select></br>
						<td><button type='button' ng-click="addSimptomiPregledaField()">Novi</button></td>
					</tr>
					<tr><td align="center">Dijagnostikovana bolest: </td><td align="center">
						<select id="dijagnostikovanaBolest" ng-model="dijagnostikovanaBolest1">
							<option ng-repeat="bolest in bolesti" value="{{bolest}}">{{bolest.naziv}}</option>
						</select>
					</td></tr>
					<tr><td align="center">Propisan lek: </td><td align="center">
						<select id="propisanLek" ng-model="propisanLek1">
							<option ng-repeat="lek in lekovi" value="{{lek}}">{{lek.naziv}}</option>
						</select>
					</td></tr>
					<tr>
						<td align="center">Alergican na lekove:</td>
						<td align="center">
							<select style="float: left; clear: both;" ng-repeat="field in alergicanNaLekoveFields.fields track by $index" ng-model='alergicanNaLekoveFields.fields[$index]'>
								<option ng-repeat="lek in lekovi" value="{{lek}}">{{lek.naziv}}</option>
							</select></br>
						<td><button type='button' ng-click="addAlergicanNaLekoveField()">Novi</button></td>
					</tr>
					<tr><td align="center"><button type="button" class='btn btn-default' ng-click="back()">Nazad</button></td>
						<td align="center"><button ng-disabled="addPregledForm.$invalid" type="button" class='btn btn-default' ng-click="addPregledSubmit()">Dodaj</button></td></tr>
					<tr><td align="center"></td>
						<td align="center"><button type="button" class='btn btn-default' ng-click="dijagnostikaSubmit()">Dijagnostika</button></td></tr>
				</div>
			</table>
		</form>
	</span>
</div>