<div  ng-controller="bolestController">
			<table border="1">
				<thead>
					<tr>
						<td align="center">Id</td>
						<td align="center">Naziv</td>
						<td align="center">Grupa</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bolest in bolesti">
						<td align="center">{{bolest.idBolest}}</td>
						<td align="center">{{bolest.naziv}}</td>
						<td align="center">{{bolest.grupa}}</td>
						<td align="center"><button type="button" class='btn btn-default' ng-click="detailViewBolestAdmin(bolest)">Detaljnije</button></td>
						<td align="center"><button type="button" class='btn btn-default' ng-click="deleteBolest(bolest)">Obrisi</button></td>
					</tr>
				</tbody>
			</table>
</div>